body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #51a4fb;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.leaflet-popup-content-wrapper {
	width: 250px;
}

.leaflet-popup-content p {
	margin: 5px 0 !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: #ffffe5 !important;
}

html {
	scrollbar-width: none; /* For Firefox */
	-ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
	width: 0px; /* For Chrome, Safari, and Opera */
}
